mat-dialog-content {
  margin-top: 10px;
}

mat-nav-list {
  padding-top: 10px;
}

button {
  padding: 12px 58px;
}

#confirmation-button:enabled {
  background-color: #0070a3;
  color: white;
}

#confirmation-button:enabled:hover {
  background-color: #6a1847;
}
