<div class="box">
  <!-- DIN Logo -->
  <app-din-logo/>

  <!-- Body -->
  <div class="body">
    <!-- Welcome Texts -->
    <div id="welcome-text">
      <p class="text-bold-700">
        Beuth Verlag, <span class="text-bold-400"> Ihr Bestimmungsbereich für das Verlagswesen von Büchern
        und Zeitschriften und Ihr Partner für umfassendes Fachwissen und Normen! </span>
      </p>
      <p class="text-bold-400">
        Entdecken Sie unser breites Spektrum an technischen Standards
        und Regelwerken, die Ihre Arbeit effizienter und zukunftssicher
        machen.
      </p>
    </div>

    <!-- Inputs Fields - Card -->
    <div id="card">
      <mat-card>
        <mat-card-title>
          <p class="text-bold-700">Log in</p>
          <p>Und genießen!</p>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm">
            <!-- Email (username) input -->
            <mat-form-field appearance="outline" id="email">
              <mat-label>Email</mat-label>
              <input [formControl]="email" matInput placeholder="muster@mail.com">
              <mat-icon matSuffix>email</mat-icon>
              @if (email.invalid) {
                <mat-error>{{ emailErrorMessage }}</mat-error>
              }
            </mat-form-field>

            <!-- Password input -->
            <mat-form-field appearance="outline" id="password">
              <mat-label>Passwort</mat-label>
              <input [formControl]="password" matInput placeholder="********" [type]="hidePwd ? 'password' : 'text'">
              <mat-icon (click)="hidePwd = !hidePwd" class="pointer" matSuffix
                        matTooltip='{{hidePwd ? "zeigen" : "verbergen"}}'>
                {{ hidePwd ? "visibility_off" : "visibility" }}
              </mat-icon>
              @if (password.invalid) {
                <mat-error>{{ passwordErrorMessage }}</mat-error>
              }
            </mat-form-field>

            <!-- Reset password message -->
            @if (resetPasswordLink) {
              <a id="reset-password" class="text-deco-none text-bold-700" [href]="resetPasswordLink">
                Passwort vergessen?
              </a>
            }
          </form>
        </mat-card-content>
        <mat-card-footer>
          <!-- Sign up message -->
          <a id="signup">
            Neu auf dieser Website?
            <span class="text-bold-700 pointer" (click)="zuOpenDummyUserModal()" matTooltip="click um einen Dummy-Konto zu venwenden">
              Dummy-Konto
            </span>
          </a>
          <!-- Login button -->
          <button (click)="login()" [disabled]="!isValid" id="login-button" type="submit">
            Jetzt anmelden
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer-items text-bold-400">
    <p id="copyright">© COPYRIGHT 2024 - DIN MEDIA GMBH</p>
    <div class="hyperlinks">
      @for (link of hyperlinks; track link; let index = $index; let last = $last) {
        @if (link.name != resetPasswordText) {
          <a class="text-deco-none" id="link{{index}}" href="{{link.url}}" target="_blank">{{ link.name }}</a>
        }
        @if (link.name != resetPasswordText && !last) {
          <span class="link-separator"></span>
        }
      }
    </div>
  </div>
</div>
