body {
  margin: 0;
}

button {
  transition: .25s ease-in-out 0s;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #0070a3;
  color: white;
  border: 0;
  font-weight: 500;
  line-height: 18px;
  max-width: 100%;
  min-height: 50px;
  padding: 15px;
  width: auto;
}

button:disabled {
  background-color: #cccccc;
  color: #757575;
  cursor: default;
}

button:enabled:hover {
  background-color: #6a1847;
}

.text-deco-none {
  text-decoration: none;
}

.text-bold-800 {
  font-weight: 800;
}

.text-bold-700 {
  font-weight: 700;
}

.text-bold-400 {
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}
